<!-- about.ejs Christopher Esguerra 301483615 September 24th, 2025 -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= header %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/about.css">
  </head>
  <body>

  
  <nav class="baseNav"><img src="/images/Logos.svg" alt="Here" class="logo">
    <a class="nav-content" href="/">Home </a>
    <a class="nav-content" href="/about">About </a> 
    <a class="nav-content" href="/contact">Contact </a> 
    <a class="nav-content" href="/project">Project </a> 
    <a class="nav-content" href="/service">Service </a>
  </nav>
  
<section class="about-section">
              <h1><%= header %></h1>
              <p><%= description %></p>

       <img src="/images/placeholder.jpg" alt="Profile" class='about-image' />

    <a href="/images/Resume_ChristopherEsguerra.pdf" target="_blank" rel="noopener noreferrer">View Resume</a>


      </section>

    <footer>
      <p>&copy; <%= footer %></p>
    </footer>
  </body>
  <link rel="app.js" href="../app.js">
</html>
